.user-detail {
  display: block;
}

.profile {
  height: 100%;
  width: 20%;
  position: fixed;
  left: 0;
  background-color: white !important;
  text-align: center;
  top: 70px;
}

.posts {
  background-color: white !important;
  height: 100%;
  width: 80%;
  position: relative;
  left: 20%;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
