body {
  background-color: #242129;
}

.users-page {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.profile-picture-link {
  margin-left: 70px;
}

.users-list-container {
  padding-bottom: 30px;
}
.show-snapshots-btn {
  margin-left: 0;
}

.user-details-text {
  color: white;
}
